.pricing-area {
    background-color: #f7fafd;
}
.pricing-table {
    background-color: var(--whiteColor);
    box-shadow: 0px -10px 30px rgba(0, 0, 0, 0.05);

    table {
        margin-bottom: 0;
        text-align: center;

        thead {
            tr {
                background: var(--mainColor);
    
                th {
                    vertical-align: middle;
                    border: none;
                    color: var(--whiteColor);
                    padding: 16px 20px;
                    font: {
                        size: 18px;
                        weight: 600;
                    };
                    &:nth-child(1) {
                        text-align: start;
                        padding-right: 30px;
                    }
                }
            }
        }
        tbody {
            td {
                vertical-align: middle;
                color: var(--blackColor);
                padding: 16px 20px;
                border-color: #eeeeee;
                font: {
                    size: var(--fontSize);
                    weight: 400;
                };
                &:nth-child(1) {
                    text-align: start;
                    padding-right: 30px;
                }
                i {
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    border-radius: 100%;
                    background-color: var(--optionalColor);
                    color: var(--whiteColor);
                    display: block;
                    margin: 0 auto;

                    &.bx-x {
                        line-height: 22px;
                    }
                }
            }
            tr {
                &:nth-child(1), &:nth-child(8) {
                    td {
                        i {
                            background-color: #facd60;
                        }
                    }
                }
                &:nth-child(3), &:nth-child(10) {
                    td {
                        i {
                            background-color: #fd6c28;
                        }
                    }
                }
                &:nth-child(4), &:nth-child(11) {
                    td {
                        i {
                            background-color: #ee0979;
                        }
                    }
                }
                &:nth-child(5), &:nth-child(12) {
                    td {
                        i {
                            background-color: #1ac0c6;
                        }
                    }
                }
                &:nth-child(6), &:nth-child(13) {
                    td {
                        i {
                            background-color: #f45271;
                        }
                    }
                }
                &:nth-child(7), &:nth-child(14) {
                    td {
                        i {
                            background-color: #fd6d27;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    
    .pricing-table {
        table {
            thead {
                tr {
                    th {
                        padding: 12px 15px 10px;
                        font-size: 16px;
                        white-space: nowrap;

                        &:nth-child(1) {
                            padding-right: 20px;
                        }
                    }
                }
            }
            tbody {
                td {
                    padding: 14px 15px;
                    font-size: 14px;
                    white-space: nowrap;

                    &:nth-child(1) {
                        padding-right: 20px;
                    }
                }
            }
        }
    }

}
@media only screen and (min-width: 576px) and (max-width: 767px) {

}
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .pricing-table {
        table {
            thead {
                tr {
                    th {
                        white-space: nowrap;
                    }
                }
            }
            tbody {
                td {
                    white-space: nowrap;
                }
            }
        }
    }

}
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}
@media only screen and (min-width: 1200px) and (max-width: 1275px) {

}