.mission-area {
    position: relative;
    z-index: 1;
    background: {
        image: url(../../../../assets/img/mission-bg.jpg);
        position: center center;
        size: cover;
        repeat: no-repeat;
    };
}
.mission-content {
    background-color: var(--whiteColor);
    padding: 60px;
    border-radius: 5px;
    max-width: 630px;

    .section-title {
        margin-bottom: 35px;
    }
    h3 {
        margin-bottom: 15px;
        border-bottom: 1px solid #eeeeee;
        padding-bottom: 15px;
        font: {
            size: 18px;
            weight: 600;
        };
    }
    .default-btn {
        margin-top: 8px;
    }
}

@media only screen and (max-width: 767px) {

    .mission-content {
        padding: 20px;
        max-width: 100%;

        .section-title {
            margin-bottom: 25px;

            &.text-start {
                text-align: start !important;
            }
        }
        h3 {
            margin-bottom: 13px;
            padding-bottom: 13px;
            font-size: 18px;
            line-height: 1.6;
        }
    }

}
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .mission-content {
        max-width: 720px;
        margin: {
            left: auto;
            right: auto;
        };
    }

}