.main-banner-wrapper {
    background-color: var(--whiteColor);
    position: relative;
    z-index: 1;
    padding: {
        top: 100px;
    };
}
.banner-wrapper-content {
    text-align: center;
    max-width: 650px;
    margin: {
        left: auto;
        right: auto;
    };
    h1 {
        margin-bottom: 20px;
        font: {
            size: 40px;
            weight: 600;
        };
    }
    p {
        font-size: 16px;
        max-width: 600px;
        line-height: 1.8;
        margin: {
            left: auto;
            right: auto;
            bottom: 0;
        };
    }
    form {
        position: relative;
        margin-top: 30px;

        .input-search {
            display: block;
            width: 100%;
            background-color: var(--whiteColor);
            border: none;
            height: 60px;
            padding-right: 20px;
            border-radius: 70px;
            outline: 0;
            color: var(--blackColor);
            box-shadow: 0px 5px 28.5px 1.5px rgba(149, 152, 200, 0.2) !important;

            &::placeholder {
                transition: var(--transition);
                color: var(--paragraphColor);
            }
            &:focus {
                &::placeholder {
                    color: transparent;
                }
            }
        }
        button {
            position: absolute;
            left: 5px;
            top: 5px;
            background-color: var(--mainColor);
            color: var(--whiteColor);
            border: none;
            height: 50px;
            padding: 0 30px;
            border-radius: 70px;
            transition: var(--transition);
            text-transform: uppercase;
            font: {
                size: var(--fontSize);
                weight: 600;
            };
            &:hover, &:focus {
                background-color: var(--optionalColor);
                color: var(--whiteColor);
            }
        }
    }
}
.banner-wrapper-image {
    margin-top: 50px;
}

@media only screen and (max-width: 767px) {
    
    .main-banner-wrapper {
        padding-top: 75px;
    }
    .banner-wrapper-content {
        h1 {
            margin-bottom: 18px;
            font-size: 30px;
        }
        p {
            font-size: 15px;
            max-width: 100%;
        }
        form {
            button {
                position: relative;
                left: 0;
                top: 0;
                height: 45px;
                font-size: 15px;
                margin-top: 15px;
                box-shadow: 0 5px 28.5px 1.5px rgba(255, 25, 73, 0.2);

                &:hover, &:focus {
                    box-shadow: 0 5px 28.5px 1.5px rgba(14, 181, 130, 0.2);
                }
            }
        }
    }
    .banner-wrapper-image {
        margin-top: 35px;
    }

}
@media only screen and (min-width: 576px) and (max-width: 767px) {

}
@media only screen and (min-width: 768px) and (max-width: 991px) {

}
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}
@media only screen and (min-width: 1200px) and (max-width: 1275px) {

}