.single-instructor-member {
    position: relative;
    background: var(--whiteColor);
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(146, 184, 255, 0.2);
    text-align: center;
    z-index: 1;
    transition: var(--transition);

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background: var(--whiteColor);
        transition: var(--transition);
        z-index: -1;
    }
    .member-image {
        overflow: hidden;
        padding: 10px;
        border-radius: 5px 5px 0 0;

        img {
            transition: var(--transition);
            border-radius: 5px 5px 0 0;
        }
    }
    .member-content {
        padding: 15px 25px 25px 25px;
        border-radius: 5px;
        position: relative;

        h3 {
            margin-bottom: 8px;
            font: {
                size: 20px;
                weight: 600;
            };
            a {
                display: inline-block;
            }
        }
        span {
            display: block;
            color: var(--mainColor);
            font-weight: 500;
        }
        .social {
            padding-right: 0;
            margin-bottom: 0;
            list-style-type: none;
            position: absolute;
            left: 0;
            right: 0;
            top: -35px;

            li {
                display: inline-block;
                margin: {
                    left: 3px;
                    right: 3px;
                };
                a {
                    display: block;
                    width: 35px;
                    height: 35px;
                    border-radius: unset;
                    font-size: 16px;
                    border-radius: 50%;
                    background-color: var(--optionalColor);
                    color: var(--whiteColor);
                    opacity: 0;
                    transform: translateY(-15px);
                    position: relative;

                    &.facebook {
                        background-color: #3b5998;
                    }
                    &.twitter {
                        background-color: #1da1f2;
                    }
                    &.instagram {
                        background-color: #c13584;
                    }
                    &.linkedin {
                        background-color: #0077b5;
                    }
                    &:hover, &:focus {
                        background-color: var(--mainColor);
                        color: var(--whiteColor);
                    }
                    i {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
                &:nth-child(2) {
                    a {
                        transition-delay: 0.05s;
                    }
                }
                &:nth-child(3) {
                    a {
                        transition-delay: 0.1s;
                    }
                }
                &:nth-child(4) {
                    a {
                        transition-delay: 0.15s;
                    }
                }
            }
        }
    }
    &:hover, &:focus {
        &::after {
            transform: rotate(7deg);
            box-shadow: 0px 8px 16px 0px rgba(146, 184, 255, 0.2);
        }
        .member-image {
            img {
                transform: translateY(-50px);
            }
        }
        .member-content {
            .social {
                li {
                    a {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    
    .single-instructor-member {
        .member-content {
            top: auto;
            padding: 20px;
            bottom: 0;

            h3 {
                font-size: 18px;
            }
            span {
                font-size: 13.5px;
            }
        }
    }

}