.faq-item {
    margin-bottom: 30px;

    h3 {
        margin-bottom: 13px;
        line-height: 1.4;
        font: {
            size: 18px;
            weight: 600;
        };
    }
    strong {
        color: var(--blackColor);
    }
}

@media only screen and (max-width: 767px) {

    .faq-item {
        h3 {
            font-size: 15px;
        }
    }

}
@media only screen and (min-width: 576px) and (max-width: 767px) {

}
@media only screen and (min-width: 768px) and (max-width: 991px) {

}
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}
@media only screen and (min-width: 1200px) and (max-width: 1275px) {

}