.single-gallery-item {
    position: relative;
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;

    img {
        border-radius: 5px;
        cursor: zoom-in;
        transition: var(--transition);
    }
    &:hover {
        img {
            transform: scale(1.2) rotate(5deg);
            filter: blur(3px);
        }
    }
}